
.Output {
    display: flex;
    flex-direction: column;
}

.error-text {
    color: #fb414e;
}

.response-text {
    color: #bfbfbf;
    white-space: pre-wrap;
    overflow-y: auto;
    margin: 0 10%;
    width: 60vw;
}